<div class="row">

  <button ng-click="expandCollapseDescription()" ng-class="{'collapsed': collapsed}" class="visible-xs description-expander btn btn-primary">
    <span class="caret" ng-class="{'caret-reversed-white': !collapsed}"></span><span class="hspacer05"></span>{{collapsed?'Show more':'Show less'}}<span class="hspacer05"></span><span class="caret" ng-class="{'caret-reversed-white': !collapsed}"></span>
  </button>
  <div class="col-md-12">
    <div class="col-md-12 thumbnail" id="app-description">
      <div class="title">
        <h2>
          {{appData.name}} <span>
            from <a href="#/users/{{appData.creator.oidcId}}">{{appData.creator.username}}</a>
          </span>
        </h2>
      </div>
      <!--<div id="platform-links">
          <input type="image" src="./assets/img/android.png" id="android" data-ng-click="chosenVersion($event)" />
          <input type="image" src="./assets/img/windows.png" id="windows" data-ng-click="chosenVersion($event)" />
          <input type="image" src="./assets/img/apple.png" id="ios" data-ng-click="chosenVersion($event)" />
        </div>-->
      <div class="app-detail-container">

        <img ng-src="{{appData.thumbnail}}" class="img-detail">
        <div class="caption">
          <a href="{{appData.downloadUrl}}" id="download-button" class="btn btn-success">
            <h4>
              <span class="glyphicon glyphicon glyphicon-download-alt"></span> Download
            </h4>
          </a>
          <div class="app-meta-data  text-color-paleblack">
            <div id="app-rating">
              <star-rating value="{{appData.rating}}"></star-rating><span class="hspacer05"></span>
            </div>
            <div id="app-tags">
              <span class="hspacer05 hidden-xs"></span> <span class="glyphicon glyphicon-tags text-color-grey "></span> <span class="hspacer05"></span><span ng-repeat="tag in (appData.tags) | limitTo : tagLimit">
                <a href="tags/{{tag.value}}">{{tag.value}}</a>{{$last ? '' : ', '}}
              </span> <a class="tag-expander" ng-hide="$scope.DEFAULT_TAGS>=appData.tags.length" ng-click="expandCollapseTags()" href="javascript:void(0)"> ... </a>
            </div>
          </div>
          <div class="vspacer05"></div>
          <p class="short-description">{{appData.shortDescription}}</p>
          <p class="text-center more-text-indicator" ng-show="collapsed">
            <span class="dotdotdot"></span><span class="dotdotdot"></span><span class="dotdotdot"></span>
          </p>

          <p class="long-description" ng-class="{'collapsed': collapsed}" ng-bind-html="appData.longDescriptionMarkdown | unsafe"></p>
          <button ng-click="expandCollapseDescription()" class=" description-expander btn btn-primary">
            <span class="caret" ng-class="{'caret-reversed-white': !collapsed}"></span><span class="hspacer05"></span>{{collapsed?'Show more':'Show less'}}<span class="hspacer05"></span><span class="caret" ng-class="{'caret-reversed-white': !collapsed}"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <div class="col-md-9" id="app-images">
      <div id="featured-carousel" class="thumbnail">
        <carousel interval="interval"> <slide ng-repeat="image in appData.images"> <img ng-src="{{image.url}}" width="1000" height="560"> </slide> </carousel>
      </div>
    </div>
   
    <div class=" thumbnail col-md-3" id="app-technical-detail">
      <h3>Technical details</h3>
      <dl>
        <div ng-if="appData.sourceUrl">
          <dt>
            <dfn>Source Code</dfn>
          </dt>
          <dd>
            <a href="{{appData.sourceUrl}}">{{appData.sourceUrl}}</a>
          </dd>
        </div>
        <dt>
          <dfn>Version</dfn>
        </dt>
        <dd>{{appData.version}}</dd>
        <div ng-if="appData.size">
          <dt>
            <dfn>Size</dfn>
          </dt>
          <dd>{{convertSize(appData.size)}}</dd>
        </div>
        <dt>
          <dfn>Release</dfn>
        </dt>
        <dd>{{convertDate(appData.dateCreated)}}</dd>

        <dt>
          <dfn>Last update</dfn>
        </dt>
        <dd>{{convertDate(appData.dateModified)}}</dd>
        <dt>
          <dfn>License</dfn>
        </dt>
        <dd>{{appData.license}}</dd>
        <dt>
          <dfn>Support page</dfn>
        </dt>
        <dd dir="ltr">
          <a href="{{appData.supportPage}}" rel=" nofollow" target="_blank">{{appData.supportUrl}}</a>
        </dd>
      </dl>
    </div>
  </div>
</div>