<div class="row">

  <button ng-click="expandCollapseDescription()" ng-class="{'collapsed': collapsed}" class="visible-xs description-expander btn btn-primary">
    <span class="caret" ng-class="{'caret-reversed-white': !collapsed}"></span><span class="hspacer05"></span>{{collapsed?'Show more':'Show less'}}<span class="hspacer05"></span><span class="caret" ng-class="{'caret-reversed-white': !collapsed}"></span>
  </button>
  <div class="col-md-12">
    <div class="col-md-12 thumbnail" id="app-description">
      <div class="title">
        <h2>
          <i class="fa {{app.platformObj.icon}} pull-left"></i>
          <i ng-show="app.platformObj.isMobile" class="fa fa-mobile pull-left"></i>{{app.name}} <span>
            from <a href="#/users/{{app.creator.oidcId}}">{{app.creator.username}}</a>
          </span>
        </h2>
      </div>
      <!--<div id="platform-links">
          <input type="image" src="./assets/img/android.png" id="android" data-ng-click="chosenVersion($event)" />
          <input type="image" src="./assets/img/windows.png" id="windows" data-ng-click="chosenVersion($event)" />
          <input type="image" src="./assets/img/apple.png" id="ios" data-ng-click="chosenVersion($event)" />
        </div>-->
      <div class="app-detail-container">

        <img ng-src="{{app.thumbnail}}" class="img-detail">
        <div class="caption">
          <a href="{{app.downloadUrl}}" id="download-button" class="btn btn-success">
            <h4>
              <span class="glyphicon glyphicon glyphicon-download-alt"></span> Download
            </h4>
          </a>
          <div class="app-meta-data  text-color-paleblack">
            <div id="app-rating">
              <star-rating value="{{app.rating}}"></star-rating><span class="hspacer05"></span>
            </div>
            <div id="app-tags">
              <span class="hspacer05 hidden-xs"></span> <span class="glyphicon glyphicon-tags text-color-grey "></span> <span class="hspacer05"></span><span ng-repeat="tag in (app.tags) | limitTo : tagLimit">
                <a href="tags/{{tag.value}}">{{tag.value}}</a>{{$last ? '' : ', '}}
              </span> <a class="tag-expander" ng-hide="$scope.DEFAULT_TAGS>=app.tags.length" ng-click="expandCollapseTags()" href="javascript:void(0)"> ... </a>
            </div>
          </div>
          <div class="vspacer05"></div>
          <p class="short-description">{{app.shortDescription}}</p>
          <p class="text-center more-text-indicator" ng-show="collapsed">
            <span class="dotdotdot"></span><span class="dotdotdot"></span><span class="dotdotdot"></span>
          </p>

          <p class="long-description" ng-class="{'collapsed': collapsed}" ng-bind-html="app.longDescriptionMarkdown | unsafe"></p>
          <button ng-click="expandCollapseDescription()" class=" description-expander btn btn-primary">
            <span class="caret" ng-class="{'caret-reversed-white': !collapsed}"></span><span class="hspacer05"></span>{{collapsed?'Show more':'Show less'}}<span class="hspacer05"></span><span class="caret" ng-class="{'caret-reversed-white': !collapsed}"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <div class="col-md-9" id="app-images">
      <div id="featured-carousel" class="thumbnail">
        <carousel interval="interval" on-carousel-change="onSlideChanged(nextSlide, direction)">
          <slide ng-repeat=" image in app.images">
            <img ng-src="{{image.url}}" width="1000" height="560">
          </slide>
        </carousel>
        <p>{{app.images[currentSlide].description}}</p>
      </div>
    </div>

    <div class=" thumbnail col-md-3" id="app-technical-detail">
      <div class="title">
        <h3>Technical details</h3>
      </div>

      <dl>
        <dt>
          <dfn><i class="fa fa-puzzle-piece"></i><span class="hspacer05"></span>Platform</dfn>
        </dt>
        <dd>{{app.platformObj.name}}</dd>
        <div ng-if="app.sourceUrl">
          <dt>
            <dfn><i class="fa fa-code-fork"></i><span class="hspacer05"></span>Source Code</dfn>
          </dt>
          <dd>
            <a href="{{app.sourceUrl}}">{{app.sourceUrlShort}}</a>
          </dd>
        </div>
        <dt>
          <dfn><i class="fa fa-level-up"></i><span class="hspacer05"></span>Version</dfn>
        </dt>
        <dd>{{app.version}}</dd>
        <div ng-if="app.size">
          <dt>
            <dfn><i class="fa fa-arrows-h"></i><span class="hspacer05"></span>Size</dfn>
          </dt>
          <dd>{{app.size}}</dd>
        </div>
        <dt>
          <dfn><i class="fa fa-calendar-o"></i><span class="hspacer05"></span>Release</dfn>
        </dt>
        <dd>{{app.dateCreated}}</dd>

        <dt>
          <dfn><i class="fa fa-calendar"></i><span class="hspacer05"></span>Last update</dfn>
        </dt>
        <dd>{{app.dateModified}}</dd>
        <dt>
          <dfn><i class="fa fa-copyright"></i><span class="hspacer05"></span>License</dfn>
        </dt>
        <dd>{{app.license}}</dd>
        <dt>
          <dfn><i class="fa fa-life-ring"></i><span class="hspacer05"></span>Support page</dfn>
        </dt>
        <dd>
          <a href="{{app.supportUrl}}">{{app.supportUrlShort}}</a>
        </dd>
      </dl>
    </div>
  </div>
</div>