<div class="modal-header">
  <h3 class="modal-title text-center"><span class="glyphicon glyphicon-ok text-color-green"></span> Success!</h3>
</div>
<div class="modal-body">
  Your comment and rating were <strong>successfully submitted</strong>! You can have <strong>only one comment</strong> per app.
  If you wish to edit an existing comment <strong>you can edit your input and resubmit it</strong>.
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="ok()">OK</button>
</div>