<div id="featured-list" class="row">
  <div class="col-md-12">
    <ul class="lead nav nav-justified nav-pills">
      <li ng-class="{'active': currentTab=='new'}">
        <a href="javascript:void(0)" ng-click="setTab('new')">
          <span class="glyphicon glyphicon-fire"></span> New
        </a>
      </li>

      <li ng-class="{'active': currentTab=='top'}">
        <a href="javascript:void(0)" ng-click="setTab('top')">
          <span class="glyphicon glyphicon glyphicon-star"></span> Top Rated
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <p ng-bind-html="markdownOut | unsafe"></p></p>
      <div class="tab-pane row active" id="info-tab">
        <div ng-repeat="app in apps"
             class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="app-list-item">
            <a href="#/apps/{{app.id}}"></a>
            <div class="thumbnail">
              <h3 class="single-line">
                {{app.name}}
                <i class="{{app.platformObj.icon}} pull-left"></i>
              </h3>
              <div class="image-container">
                <img ng-src="{{app.thumbnail}}" alt="cats">
              </div>
              <div class="caption">

                <div class="text-center"><star-rating value="{{app.rating}}"></star-rating></div>
                <p>{{app.shortDescription}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>