<div id="featured-list" class="row">
	<div class="col-md-12">
		<ul class="lead nav nav-justified nav-pills">
			<li ng-class="{'active': currentTab=='new'}"><a
				href="javascript:void(0)" ng-click="setTab('new')"> <span
					class="glyphicon glyphicon-fire"></span> New
			</a></li>

			<li ng-class="{'active': currentTab=='top'}"><a
				href="javascript:void(0)" ng-click="setTab('top')"> <span
					class="glyphicon glyphicon glyphicon-star"></span> Top Rated
			</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane row active" id="info-tab">
				<div ng-repeat="app in apps"
					class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
					<div class="app-list-item">
						<a href="#/apps/{{app.id}}"></a>
						<div class="thumbnail">
							<h3 class="single-line">{{app.name}}</h3>
							<div class="image-container">
								<img ng-src="{{app.thumbnail}}" alt="cats">
							</div>
							<div class="caption">

								<div class="rating-stars">
									<span ng-repeat="n in [] | rangeFilter:app.rating"
										class="glyphicon glyphicon-star text-color-staryellow">
									</span><span ng-repeat="n in [] | rangeFilter:(5-app.rating)"
										class="glyphicon glyphicon-star-empty text-color-staryellow"></span>

									<span class="hspacer05 text-color-paleblack ">({{app.commentsCount}})</span>
								</div>
								<p>{{app.description}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>