<div class="row">
	<div class="col-xs-12 col-lg-3 col-md-4">
		<div id="search-filter" ng-class="{'collapsed': collapsed}"
			class=" thumbnail">

			<div class="advanced-search-container">
				<h3 ng-click="expandCollapseSearch()">
					<span class="caret hidden-lg hidden-md"
						ng-class="{'caret-reversed': !collapsed}"></span> Advanced Search
					<span class="caret hidden-lg hidden-md"
						ng-class="{'caret-reversed': !collapsed}"></span>
				</h3>
        <button class="advanced-search-btn btn btn-default btn-primary hidden-lg hidden-md hidden-xs"
                ng-class="{'hidden': collapsed}" ng-click="search()">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
			</div>
			<form role="form">
				<div class="form-group col-md-12 col-sm-6 col-lg-12">
					<label for="has-title">In Title or Description</label>
					<div class="input-group">
						<span class="input-group-addon"><span
							class="glyphicon glyphicon-font"></span></span> <input type="text"
							class="form-control" id="has-title" placeholder="myApp" value="{{searchQuery}}">
					</div>
				</div>
				<div class="form-group col-md-12 col-sm-6 col-lg-12">
					<label for="has-tags">Tagged as</label>
					<div class="input-group">
						<span class="input-group-addon"><span
							class="glyphicon glyphicon-tags"></span></span> <input type="text"
							class="form-control" id="has-tags"
							placeholder="mobile medicine food">
					</div>
				</div>
				<div class="form-group col-md-12 col-sm-6 col-lg-12">
					<label for="has-author">Created by</label>
					<div class="input-group">
						<span class="input-group-addon"><span
							class="glyphicon glyphicon-user"></span></span> <input type="text"
							class="form-control" id="has-author" placeholder="john doe">
					</div>
				</div>
				<div class="form-group col-md-12 col-sm-6 col-lg-12">
					<label for="sort-by">Sort by</label>
					<div class="input-group">
						<span class="input-group-addon"><span
							class="glyphicon glyphicon-sort-by-attributes"></span></span> <select
							class="form-control" id="sort-by">
							<option>Age</option>
							<option>Rating</option>
							<option>Comments</option>
							<option>Author</option>
							<option>Title</option>
							<option>None</option>
						</select>
					</div>
				</div>
				<div class="col-xs-12 visible-lg visible-md visible-xs">
					<button
						class="advanced-search-btn btn btn-default btn-primary btn-block"
						ng-click="search()">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-xs-12 col-md-8 col-lg-9 no-padding">
		<div ng-repeat="app in apps" class="col-xs-12">
			<div class="app-list-item">
				<a href="#/apps/{{app.id}}"></a>
				<div class="thumbnail">
					<h3 class="single-line">{{app.name}}</h3>
					<div class="image-container">
						<img ng-src="{{app.thumbnail}}" alt="cats">
					</div>
					<div class="caption">

						<div class="rating-stars">
							<span ng-repeat="n in [] | rangeFilter:app.rating"
								class="glyphicon glyphicon-star text-color-staryellow"> </span><span
								ng-repeat="n in [] | rangeFilter:(5-app.rating)"
								class="glyphicon glyphicon-star-empty text-color-staryellow"></span>

							<span class="hspacer05 text-color-paleblack ">({{app.commentsCount}})</span>
						</div>
						<p>{{app.description}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row hidden">
			<div class="col-xs-12 text-center">
				<ul class="pagination">
					<li class="disabled"><a href="#"><span
							class="glyphicon glyphicon-step-backward"></span></a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">...</a></li>
					<li><a href="#">100</a></li>
					<li><a href="#"><span
							class="glyphicon glyphicon-step-forward"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>