<div class="row">
  <div class="col-xs-12 col-lg-3 col-md-4">
    <div id="search-filter" ng-class="{'collapsed': collapsed}"
         class=" thumbnail">

      <div class="advanced-search-container">
        <h3>
          User Search
        </h3>
        <button class="advanced-search-btn btn btn-default btn-primary hidden-lg hidden-md hidden-xs"
                ng-click="newSearch()">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </div>
      <form role="form">
        <div class="form-group col-md-12 col-sm-6 col-lg-12">
          <label for="has-title">Name</label>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span> <input ng-enter="newSearch()" ng-model="searchQuery" type="text"
                           class="form-control" id="has-title" placeholder="john doe">
          </div>
        </div>

        <div class="form-group col-md-12 col-sm-6 col-lg-12">
          <label for="has-role">Role</label>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="fa fa-smile-o fa-lg"></span>
            </span> <select ng-model="role" class="form-control" id="has-role" ng-change="newSearch()">
              <option>all</option>
              <option>user</option>
              <option>applicant</option>
              <option>developer</option>
              <option>admin</option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-12 col-sm-6 col-lg-12">
          <label for="has-email">Email contains</label>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </span> <input ng-enter="newSearch()" ng-model="email" type="text"
                           class="form-control" id="has-email" placeholder="@foo.bar">
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-6 col-lg-12">
          <label for="sort-by">Sort by</label>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-sort-by-attributes"></span>
            </span> <select ng-model="sortBy" class="form-control" id="sort-by" ng-change="newSearch()">
              <option>name</option>
              <option>newest</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 visible-lg visible-md visible-xs">
          <button ng-click="newSearch()"
                  class="advanced-search-btn btn btn-default btn-primary btn-block">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </div>
      </form>
    </div>
  </div>
  <div ng-show="probablyNothingFound && apps.length<=0" class="col-xs-12 col-md-8 col-lg-9">
    <div class="text-center">
      <h1>No results found for:</h1>
      <h3>{{searchQuery}}</h3>
    </div>
  </div>
  <div id="search-results" class="col-xs-12 col-md-8 col-lg-9 no-padding">
    <div ng-repeat="user in users" class="col-xs-12 thumbnail">
      <div class="col-md-4 col-sm-3 col-xs-4">
        <a href="#/users/{{user.oidcId}}"><strong>{{user.username}}</strong></a>
        <div class="avatar">
          <a href="#/users/{{user.oidcId}}" class="img-circle" back-img="{{user.avatar?user.avatar:''}}"></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-8">
        <dl>
          <dt>
            <dfn><span class="glyphicon glyphicon-user"></span><span class="hspacer05"></span>Role</dfn>
          </dt>
          <dd>
            {{user.roleName}}
          </dd>

          <dt>
            <dfn><span class="glyphicon glyphicon-time"></span><span class="hspacer05"></span>Member since</dfn>
          </dt>
          <dd>
            {{user.memberScince}}
          </dd>
        </dl>
      </div>
      <div class="visible-xs col-xs-4">
      </div>
      <div class="col-md-4 col-sm-5 col-xs-8">
        <dl>
          <dt>
            <dfn><span class="glyphicon glyphicon-envelope"></span><span class="hspacer05"></span>Email</dfn>
          </dt>
          <dd>
            <a href="mailto:{{user.email}}">{{user.email}}</a>
          </dd>

          <dt>
            <dfn><span class="glyphicon glyphicon-upload"></span><span class="hspacer05"></span>Apps uploaded</dfn>
          </dt>
          <dd>
            <a href="#/search?user={{user.oidcId}}">See apps</a>
          </dd>
        </dl>
      </div>
    </div>

    <div class="row" ng-show="maxPage>1">
      <div class="col-xs-12 text-center">
        <ul class="pagination">
          <li ng-class="{'disabled':currentPage==1}">
            <a href="javascript:void(0)" ng-click="changePage(1)">
              <span class="glyphicon glyphicon-step-backward"></span>
            </a>
          </li>
          <li ng-click="changePage(n+(currentPage>3?currentPage-3:1))"
              ng-class="{'active':n+(currentPage>3?currentPage-3:1)==currentPage}" ng-repeat="n in [] | rangeFilter: currentPage>3?Math.min(maxDisplayPage,(4+maxPage-currentPage)):Math.min(maxDisplayPage,maxPage)">
            <a href="javascript:void(0)">{{n+(currentPage>3?currentPage-3:1)}}</a>
          </li>
          <li ng-show="maxPage>maxDisplayPage"><a href="javascript:void(0)">...</a></li>
          <li ng-show="maxPage>maxDisplayPage" ng-click="changePage(maxPage)"
              ng-class="{'active':currentPage==maxPage}">

            <a href="javascript:void(0)">{{maxPage}}</a>
          </li>
          <li>
            <!--<a href="javascript:void(0)">
              <span class="glyphicon glyphicon-step-forward"></span>
            </a>-->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>