<div id="faq" class="row">
  <div class="col-md-12 thumbnail">
    <div class="title">
      <h2>
        FAQ
      </h2>
      <p class="text-left padding-05">
        <dl>
          <dt>
            <dfn>
              Q: How can I foo?
            </dfn>
          </dt>
          <dd>
            A: Use bar and moo.
          </dd>
          <dt>
            <dfn>
              Q: How can I foo?
            </dfn>
          </dt>
          <dd>
            A: Use bar and moo.
          </dd>
          <dt>
            <dfn>
              Q: How can I foo?
            </dfn>
          </dt>
          <dd>
            A: Use bar and moo.
          </dd>
          <dt>
            <dfn>
              Q: How can I foo?
            </dfn>
          </dt>
          <dd>
            A: Use bar and moo.
          </dd>
          <dt>
            <dfn>
              Q: How can I foo?
            </dfn>
          </dt>
          <dd>
            A: Use bar and moo.
          </dd>
        </dl>
      </p>
    </div>
  </div>
</div>