<div class="row" ng-show="requestTimedOut && !user.username">
  <invalid-link>
  </invalid-link>
</div>
<div class="row" ng-show="user.username">
  <div class="col-md-12 thumbnail" id="user-profile">
    <div class="title">
      <!--<img ng-src="{{user.avatar}}">-->
      <h2>
        {{user.username}}
      </h2>
    </div>
    <div class="container">
      <div class="col-md-3 col-sm-5 text-center avatar">
        <a href="https://secure.gravatar.com" class="img-circle" back-img="{{user.avatar?user.avatar:''}}"></a>
      </div>
      <div class="col-md-3 col-sm-7">
        <hr class="visible-xs" />
        <dl>
          <dt>
            <dfn><span class="glyphicon glyphicon-user"></span><span class="hspacer05"></span>Role</dfn>
          </dt>
          <dd>
            {{user.roleName}}
          </dd>

          <dt>
            <dfn><span class="glyphicon glyphicon-time"></span><span class="hspacer05"></span>Member since</dfn>
          </dt>
          <dd>
            {{user.memberScince}}
          </dd>

          <dt>
            <dfn><span class="glyphicon glyphicon-envelope"></span><span class="hspacer05"></span>Email</dfn>
          </dt>
          <dd>
            <a href="mailto:{{user.email}}">{{user.email}}</a>
          </dd>

          <dt ng-if="isDeveloper()">
            <dfn>
              <span class=" glyphicon glyphicon-home">
              </span><span class="hspacer05"></span>Homepage
            </dfn>
          </dt>
          <dd ng-if="isDeveloper()">
            <a ng-show="mayEdit()" editable-url="user.website" onaftersave="updateUser()" href="{{user.website||'about:blank'}}">{{user.website||'about:blank'}}</a>
            <a ng-hide="mayEdit()" href="{{user.website||'about:blank'}}">{{user.website||'about:blank'}}</a>
          </dd>

          <dt ng-if="isDeveloper()">
            <dfn><span class="glyphicon glyphicon-upload"></span><span class="hspacer05"></span>Apps uploaded</dfn>
          </dt>
          <dd ng-if="isDeveloper()">
            <a href="#/search?user={{user.oidcId}}">See {{user.username}}'s apps</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-6 col-sm-12" ng-if="isDeveloper()">
        <dl>
          <dt>
            <dfn><span class="glyphicon glyphicon-pencil"></span><span class="hspacer05"></span>Description</dfn>
          </dt>
          <dd ng-show="mayEdit()" editable-textarea="user.description" onaftersave="updateUser()" e-rows="10" e-style="width:100%">
            {{user.description||'empty'}}
          </dd>
          <dd ng-hide="mayEdit()">
            {{user.description||'empty'}}
          </dd>
        </dl>
      </div>
      <div class="col-md-12" id="user-account-controls" ng-show="mayEdit()">
        <div class="pull-left">
          <a href="#/apply" ng-show="!isDeveloper()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Apply as Developer</a>
          <button ng-show="!isDeveloper() && visitorIsAdmin()" class="btn btn-primary" ng-click="upgradeUser()"><span class="glyphicon glyphicon-arrow-up"></span> Upgrade to Developer</button>
          <!--<button ng-show="isDeveloper() && visitorIsAdmin()" class="btn btn-warning" ng-click="downgradeUser()"><span class="glyphicon glyphicon-arrow-down"></span> Downgrade to User</button>-->
          <button class="btn btn-danger" ng-click="deleteUser()"><span class="glyphicon glyphicon-remove"></span> Delete Account</button>

        </div>
        
        <!--<div class="pull-left" ng-show="(mayEdit()||visitorIsAdmin())&&!isAdmin()">
          <button class="btn btn-danger" ng-click="deleteUser()"><span class="glyphicon glyphicon-remove"></span> Delete Account</button>
          
        </div>-->
      </div>
    </div>
  </div>
</div>