<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 thumbnail">
      <div class="title">
        <h2>Apply as Developer</h2>
      </div>
      <div class="caption">
        <p>
          If you want to become a developer on <strong>Layers App Store</strong> and submit new apps, please fill in the text form below.
          This message will be send directly to the <strong>Layers App Store</strong> administrators, who then will evaluate your request and grant you the respective rights.
          Your message should state clearly who you are and why you should get developer rights.
          Upon successful application you will receive a notification email.
        </p>
        <span class="vspacer1"></span>
        <textarea ng-model="applicationMessage" class="form-control custom-control" rows="15" placeholder="Hi, I'm John Doe from the Random University. Please grant me developer rights."></textarea>
        <span class="vspacer1"></span>
        <div class="col-md-12 text-center">
          <button class="btn btn-success" ng-click="submit()"><span class="glyphicon glyphicon-ok"></span><span class="hspacer05"></span>Submit</button>
          <span class="vspacer1"></span>
        </div>
        
      </div>
    </div>
  </div>
</div>