body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.app-list-item {
	position: relative;
	height: 275px;
}

.app-list-item a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none; /* No underlines on the link */
	z-index: 10; /* Places the link above everything else in the div */
	background-color: #FFF; /* Fix to make div clickable in IE */
	opacity: 0; /* Fix to make div clickable in IE */
	filter: alpha(opacity = 1); /* Fix to make div clickable in IE */
}

.hspacer1 {
	padding: 0 10px;
}

.hspacer2 {
	padding: 0 20px;
}

.vbar:before {
	color: #aaa;
	content: "|";
	padding: 0 5px;
}

.carousel-caption {
	text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
		0 18px 23px rgba(0, 0, 0, 0.1);
	font-size: large;
}

/* header start*/
.search-bar {
	left: 230px;
	right: 230px;
	position: absolute;
}

.search-bar-xs {
	left: 60px;
	right: 80px;
	top: 8px;
	position: absolute;
}

.search-bar .input-group, search-bar-xs .input-group {
	width: 100%;
}

.search-bar .input-group .input-group-btn, search-bar-xs .input-group .input-group-btn
	{
	width: 40px;
}

#sign-in-button {
	margin-left: 20px;
	margin-right: 20px;
}
/* header end*/
.featured-info-panel .description {
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 10;
	line-height: 20px;
	max-height: 200px;
}