/* general start*/
body {
  padding-top: 0;
  padding-bottom: 0;
}

h1, h2, h3, h4, h5 {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.single-line {
  white-space: nowrap;
}

.caret.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid #000000;
}

.caret.caret-reversed-white {
  border-top-width: 0;
  border-bottom: 4px solid #fff;
}

.pos-rel {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.dotdotdot {
  background-color: #666;
  width: 6px;
  height: 6px;
  margin: 0 5px 0 5px;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 3px #999;
  -webkit-box-shadow: 1px 1px 3px #999;
  box-shadow: 1px 1px 3px #999;
}

.navbar-collapse {
  max-height: none !important;
}

.thumbnail .title {
  text-align: center;
  margin: 3px 4px 10px 4px;
  position: relative;
}

  .thumbnail .title h1,
  .thumbnail .title h2,
  .thumbnail .title h3,
  .thumbnail .title h4 {
    text-align: center;
    margin: 3px 4px 10px 4px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
  }

  .thumbnail .title i {
    margin-left: 5px;
  }

.input-group input {
  height: 100% !important;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.75%; /* ~ 16:9 */
  height: 0;
}

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
  }

@media (max-width: 768px) {
  .thumbnail .caption {
    padding-left: 0;
    padding-right: 0;
  }

  html {
    /*overflow: hidden;*/
  }
}

/* general end*/

/* spacing start */
.hspacer05 {
  padding: 0 5px;
  height: 1px;
}

.hspacer06 {
  padding: 0 5px;
  font-size: 10px;
}

.hspacer1 {
  padding: 0 10px;
  height: 1px;
}

.hspacer2 {
  padding: 0 20px;
  height: 1px;
}

.vbar:before {
  color: #999;
  content: "|";
  padding: 0 5px;
}

.no-padding {
  padding: 0;
}

.padding-05 {
  padding: 5px;
}

.vspacer05 {
  padding: 5px 0;
  display: block;
}

.vspacer03 {
  padding: 3px 0;
  display: block;
}

.vspacer1 {
  padding: 10px 0;
  display: block;
}

/*spacing end */

/*colors start */
.text-color-paleblack {
  color: #666;
}

.text-color-firered {
  color: #f50;
}

.text-color-staryellow {
  color: #fa0;
}

.text-color-grey {
  color: #999;
}

.text-color-green {
  color: #00a117;
}

/* colors end */

/* rating start */
.rating-stars {
  margin: 3px 0;
  overflow: hidden;
  height: 20px;
  -ms-text-overflow: inherit;
  -o-text-overflow: inherit;
  text-overflow: inherit;
}
/*rating end */

/* welcome page start */
#featured-list {
  margin-top: 30px;
}

/* welcome page end */

/* header start */

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar-static-top .container {
  position: relative;
}

.search-bar {
  left: 370px;
  right: 270px;
  position: absolute;
}

  .search-bar .navbar-form {
    padding: 0;
  }

  .search-bar input,
  .search-bar-xs input {
    height: 34px !important;
  }

  .search-bar .input-group-btn:last-child > .btn,
  .search-bar .input-group-btn:last-child > .btn-group,
  .search-bar-xs .input-group-btn:last-child > .btn,
  .search-bar-xs .input-group-btn:last-child > .btn-group {
    height: 34px;
  }

.search-bar-xs {
  left: 65px;
  right: 80px;
  top: 8px;
  position: absolute;
}

.search-bar .input-group, search-bar-xs .input-group {
  width: 100%;
}

  .search-bar .input-group .input-group-btn, search-bar-xs .input-group .input-group-btn {
    width: 40px;
  }

#sign-in-button {
  margin-left: 5px;
  margin-right: 5px;
}

  #sign-in-button .login {
  }

  #sign-in-button .logout {
    width: 160px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 30px;
  }

    #sign-in-button .logout.dropdown-toggle {
      text-align: left;
    }

    #sign-in-button .logout .caret {
      position: absolute;
      right: 23px;
      top: 23px;
    }

.navbar-default {
  border-color: #ddd;
}

.dropdown-menu > li > a {
  cursor: pointer;
}

#help-text {
  background-color: #FAC462;
  padding: 0 25px;
  color: black;
  font-weight: 600;
  -moz-transition: max-height .1s ease-out, padding-top .1s ease-out, padding-bottom .1s ease-out;
  -o-transition: max-height .1s ease-out, padding-top .1s ease-out, padding-bottom .1s ease-out;
  -webkit-transition: max-height .1s ease-out, padding-top .1s ease-out, padding-bottom .1s ease-out;
  transition: max-height .1s ease-out, padding-top .1s ease-out, padding-bottom .1s ease-out;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  display: inline-block;
}

  #help-text.expanded {
    -moz-transition: max-height .2s .5s ease-out, padding-top .2s .5s ease-out, padding-bottom .2s .5s ease-out, top .2s .5s ease-out;
    -o-transition: max-height .2s .5s ease-out, padding-top .2s .5s ease-out, padding-bottom .2s .5s ease-out, top .2s .5s ease-out;
    -webkit-transition: max-height .2s .5s ease-out, padding-top .2s .5s ease-out, padding-bottom .2s .5s ease-out, top .2s .5s ease-out;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: max-height .2s .5s ease-out, padding-top .2s .5s ease-out, padding-bottom .2s .5s ease-out, top .2s .5s ease-out;
    max-height: 500px;
  }

  #help-text > .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0 solid #FAC462;
    position: absolute;
    z-index: -10;
    top: 50px;
    -moz-transition: top .2s .05s ease-out, border .2s ease-out;
    -o-transition: top .2s .05s ease-out, border .2s ease-out;
    -webkit-transition: top .2s .05s ease-out, border .2s ease-out;
    transition: top .2s .05s ease-out, border .2s ease-out;
  }

  #help-text .close {
    opacity: .5;
  }

  #help-text p {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    -moz-transition: max-height .3s ease-out;
    -o-transition: max-height .3s ease-out;
    -webkit-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
  }

  #help-text.expanded p {
    max-height: 500px;
    -moz-transition: max-height .2s .5s ease-out;
    -o-transition: max-height .2s .5s ease-out;
    -webkit-transition: max-height .2s .5s ease-out;
    transition: max-height .2s .5s ease-out;
  }

  #help-text.expanded > .arrow-up {
    z-index: 1001;
    top: 41px;
    border-bottom: 10px solid #FAC462;
    -moz-transition: top .2s .55s ease-out, border .2s .5s ease-out;
    -o-transition: top .2s .55s ease-out, border .2s .5s ease-out;
    -webkit-transition: top .2s .55s ease-out, border .2s .5s ease-out;
    transition: top .2s .55s ease-out, border .2s .5s ease-out;
  }

@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    color: #222;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #222;
  }

  #sign-in-button button {
    width: 100%;
  }
}
/* header end */

/*tabs start*/
.tab-content {
  margin-top: 20px;
}

.nav-pills {
  margin-bottom: 70px;
  position: relative;
}

  .nav-pills > li > a {
    border: 1px solid #1f1f1f;
    color: #333;
  }

  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    background-color: #ffa300;
    border: 1px solid #ddd;
    color: #fff;
    text-shadow: 1px 1px 3px #333;
  }

    .nav-pills > li.active > a:hover {
      background-color: #ffb400;
      text-shadow: 1px 1px 3px #111;
    }

  .nav-pills > li:not(:last-child) {
    position: absolute;
    left: 0;
    width: 49.5%;
  }

  .nav-pills > li:last-child {
    position: absolute;
    right: 0;
    width: 49.5%;
  }

/*tabs end*/

/*app list start*/

#info-tab {
  padding: 0 8px;
}

  #info-tab > div {
    padding: 2px 5px;
  }

.app-list-item a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none; /* No underlines on the link */
  z-index: 10; /* Places the link above everything else in the div */
  background-color: #FFF; /* Fix to make div clickable in IE */
  opacity: 0; /* Fix to make div clickable in IE */
  filter: alpha(opacity = 1); /* Fix to make div clickable in IE */
}

.app-list-item .thumbnail .caption p {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  line-height: 20px;
  max-height: 120px;
}

.app-list-item .thumbnail .caption > .text-center {
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}

.app-list-item .thumbnail .caption {
  padding: 0 18px 0 12px !important;
  position: absolute;
  right: 0;
  left: 162px;
}

.app-list-item .thumbnail .image-container > img {
  display: block;
  width: 150px;
  height: 150px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.app-list-item .thumbnail h3 {
  margin: 3px 4px 10px 4px;
  padding-bottom: 6px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.app-list-item .thumbnail {
  height: 218px;
  padding: 10px;
}

.thumbnail {
  -moz-box-shadow: 1px 1px 10px #999;
  -webkit-box-shadow: 1px 1px 10px #999;
  box-shadow: 1px 1px 10px #999;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

.app-list-item {
  height: 226px;
  position: relative;
  padding: 2px;
}

.thumbnail > img /*, .thumbnail a > img*/ {
  float: left;
}

/*to fix images in markdown*/
.thumbnail a > img {
  margin: 0;
  display: inline-block;
}

.app-list-item .thumbnail .image-container {
  float: left;
}

@media (max-width: 768px) {
  .app-list-item .thumbnail .image-container > img {
    width: 110px;
    height: 110px;
  }

  .app-list-item .thumbnail .caption {
    left: 122px;
  }

    .app-list-item .thumbnail .caption p {
      -webkit-line-clamp: 4;
      max-height: 80px;
    }

  .app-list-item .thumbnail {
    height: 176px;
  }

  .app-list-item {
    height: 186px;
  }
}

@media (min-width: 768px) {
  #featured-list .app-list-item:hover .thumbnail {
    -moz-box-shadow: 4px 4px 15px #999;
    -webkit-box-shadow: 4px 4px 15px #999;
    box-shadow: 4px 4px 15px #999;
    -moz-transition: -moz-box-shadow .2s linear;
    -o-transition: box-shadow .3s linear !important;
    -webkit-transition: -webkit-box-shadow .2s linear;
    transition: none;
  }

  .app-list-item:hover .thumbnail {
    border: 1px solid #333;
  }

  #featured-list .app-list-item:hover {
    padding: 0 2px 4px 2px;
    -moz-transition: padding .2s linear;
    -o-transition: padding .2s linear;
    -webkit-transition: padding .2s linear;
    transition: none;
  }
}
/*app list end*/

/*carousel start*/

.row.carousel-row {
  padding-right: 15px;
  position: relative;
}

.carousel-indicators .active {
  width: 22px;
  height: 22px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-width: 3px;
}

.carousel-control {
  top: 50%;
  bottom: 50%;
  opacity: 0.8;
}

  .carousel-control .glyphicon-chevron-right,
  .carousel-control .glyphicon-chevron-left {
    opacity: 1;
    text-shadow: 1px 1px 10px black;
  }

@media (min-width: 768px) {
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .glyphicon-chevron-left {
    font-size: 50px;
    text-shadow: 1px 1px 10px black;
  }
}

.carousel-inner a {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 25%;
  right: 25%;
  text-decoration: none; /* No underlines on the link */
  z-index: 11; /* Places the link above everything else in the div */
  background-color: #FFF; /* Fix to make div clickable in IE */
  opacity: 0; /* Fix to make div clickable in IE */
  filter: alpha(opacity = 1); /* Fix to make div clickable in IE */
}

.carousel-caption {
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  
  
 
  padding-left: 10px;
  padding-right: 10px;
}

  .carousel-caption h1 {
    margin: 0 0 25px 0;
    line-height:40px;
  }

 

#featured-carousel .carousel-caption .btn {
  margin-bottom: 10px;
}

#featured-carousel img,
#featured-carousel .carousel-control {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#featured-carousel .img-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

#featured-carousel .carousel-indicators{
  display:none;
}
#app-images #featured-carousel .carousel-indicators{
  display:block;
}

#featured-carousel .dummy {
  padding-top: 56%; /* ~16:9 aspect ratio */
}

#featured-carousel img {
  /*max-height: 560px;
  max-width: 1000px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display:block;*/
  background-size: cover !important;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('../img/placeholders/missingImage.svg');
}

#details-button {
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
}

.featured-info-panel .title {
  padding-bottom: 0;
}

.featured-info-panel img {
  float: none;
  width: 150px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.featured-info-panel p {
  clear: both;
  padding: 5px 10px;
  overflow: auto;
  position: absolute;
  top: 238px;
  bottom: 56px;
}

.featured-info-panel {
  padding: 10px;
  position: absolute;
  right: 15px;
  bottom: 0;
  top: 0;
}

  .featured-info-panel .description {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    line-height: 20px;
    max-height: 200px;
    white-space: pre-wrap;
  }

@media (min-width: 768px) {
  #featured-carousel {
    min-height: 450px;
  }
}

@media (max-width: 991px) {
  .row.carousel-row {
    padding-right: 0;
  }
}
/*smartphone size start*/
@media (max-width: 768px) {
  .carousel-caption {
    background: none;
  }

    .carousel-caption h1, .carousel-caption h3 {
      
      padding: 5px;
      
    }
}
/*smartphone size end*/

/*carousel end*/

/* pagination start */
.pagination {
  -moz-box-shadow: 1px 1px 10px #999;
  -webkit-box-shadow: 1px 1px 10px #999;
  box-shadow: 1px 1px 10px #999;
}

  .pagination > li > a {
    color: #474747;
    font-weight: 600;
  }
/* pagination end */

/* search start */
#search-filter.thumbnail {
  padding: 10px;
  /*-moz-box-shadow: 1px 1px 15px #999 inset;
   -webkit-box-shadow: 1px 1px 15px #999 inset;
   box-shadow: 1px 1px 15px #999 inset;*/
  background-color: #f8f8f8;
  overflow-y: auto;
  border-color: #aaa;
}

#search-filter h3 {
  margin: 0 15px 5px 15px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

@media (min-width: 992px) {
  #search-filter form > div {
    padding: 0;
  }
}

@media (max-width: 992px) {
  #search-filter.collapsed {
    height: 40px;
    overflow: hidden;
  }

    #search-filter.collapsed h3 {
      border: none;
    }
}

#search-filter .advanced-search-btn.hidden-lg {
  position: absolute;
  right: 0;
  top: -5px;
  z-index: 10;
}

#search-filter .advanced-search-container {
  position: relative;
}

#search-results .app-list-item .thumbnail .image-container > img {
  width: 110px;
  height: 110px;
}

#search-results .app-list-item .thumbnail .caption {
  left: 122px;
}

  #search-results .app-list-item .thumbnail .caption p {
    -webkit-line-clamp: 4;
    max-height: 80px;
  }

#search-results .app-list-item .thumbnail {
  height: 176px;
}

#search-results .app-list-item {
  height: 186px;
}
/* search end */

/* detail page start*/

/* app-description */
#app-description .img-detail {
  margin-left: 5px;
  margin-bottom: 5px;
  width: 200px;
  height: 200px;
  -ms-flex: none;
  flex: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.title h2 span,
.title h3 span {
  margin-left: 10px;
  font-size: 12px;
  white-space: nowrap;
}

#app-description #editApp {
}

#app-description .app-detail-container {
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

#app-description .caption {
  padding-top: 0;
  padding-bottom: 42px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  margin-left: 20px;
  width: 100%;
}

  #app-description .caption .long-description {
    overflow-y: auto;
    max-height: 670px;
    border: 1px solid #ddd;
    padding: 8px;
    margin-right: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* -moz-transition: max-height 0.15s ease-in;
    -o-transition: max-height 0.15s ease-in;
    -webkit-transition: max-height 0.15s ease-in;
    transition: max-height 0.15s ease-in;*/
    /*-moz-box-shadow: 3px 3px 10px #ccc inset;
    -webkit-box-shadow: 3px 3px 10px #ccc inset;
    box-shadow: 3px 3px 10px #ccc inset;*/
    display: block;
    overflow-wrap: break-word;
    /*white-space: pre-wrap;*/
  }

    #app-description .caption .long-description.collapsed {
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      max-height: 0;
      display: none;
    }

  #app-description .caption .short-description {
    font-size: larger;
  }

  #app-description .caption .description-expander {
    position: absolute !important;
    padding: 0 10px 0 10px !important;
    right: -5px;
    bottom: -5px;
    height: 36px;
    line-height: 36px;
    border: none;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 25px;
    border-top-left-radius: 25px;
    text-align: center;
    -moz-box-shadow: -1px -1px 5px #aaa;
    -webkit-box-shadow: -1px -1px 5px #aaa;
    box-shadow: -1px -1px 5px #aaa;
    font-size: large;
    width: 50%;
  }

.tag-expander {
  font-size: large;
}

.tag {
  font-size: smaller;
}

#app-images {
  padding-left: 0;
}

  #app-images .thumbnail {
    padding: 10px;
    position: relative;
  }

  #app-images p {
    margin-top: 15px;
    font-size: larger;
    text-align: center;
  }

@media (min-width:991px) {
  #app-technical-detail {
    position: absolute;
    right: 15px;
    bottom: 0;
    top: 0;
    margin-bottom: 20px !important;
  }
}

@media (max-width:990px) {
  #app-images {
    padding: 0;
  }
}

@media (max-width:768px) {
  #app-description .caption {
    margin-left: 0;
  }

    #app-description .caption .description-expander {
      width: 100%;
      right: -10px;
    }

  .row > .description-expander {
    z-index: 999999;
    position: fixed;
    bottom: 0;
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: block;
    font-size: large;
  }

    .row > .description-expander.collapsed {
      display: none !important;
    }

  /*#app-description .caption .long-description {
    position: fixed;
    top: 0;
    z-index: 10000;
    left: 0;
    right: -30px;
    bottom: 0;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    max-height: none;
  }*/

  #app-description .caption .short-description {
    font-size: 17px;
  }

  #app-description .app-detail-container {
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
  }

  #app-description .img-detail {
    margin-left: auto;
    margin-bottom: 25px;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  #download-button {
    width: 100%;
    margin-bottom: 15px !important;
    margin-left: auto !important;
    margin-right: auto;
    max-width: 300px;
    float: none !important;
  }
}

#download-button {
  float: right;
  margin-left: 15px;
  margin-bottom: 8px;
  display: block;
}

dd {
  /*overflow: hidden;*/
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#app-description #download-button h4 {
  margin: 0;
}

#app-description .caption p.more-text-indicator {
  margin-top: 25px;
}

#app-description .caption .app-meta-data {
  display: inline-block;
  margin-top: 5px;
}

  #app-description .caption .app-meta-data div {
    float: left;
    max-width: 400px;
  }

  #app-description .caption .app-meta-data .glyphicon {
    font-size: larger;
  }
/* app-description ends here */
/* carousel and technical detais start here*/

#app-technical-detail {
  padding: 9px;
  overflow-y: auto;
  overflow-wrap: break-word;
  margin: 0;
}

  #app-technical-detail dl {
    padding: 10px;
    margin-bottom: 0;
  }

    #app-technical-detail dl dd {
      padding-left: 25px;
    }
/* carousel and technical details end here*/

/*comments start*/
#comments .thumbnail {
  margin-bottom: 10px;
  padding-top: 10px;
}

#comments .comment-header {
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 5px;
}

#comments .comment-date {
  position: absolute;
  right: 15px;
  top: 0;
  color: #999;
}

#comments .comment-rating {
  font-size: 40px;
}

#comments .comment-content {
  margin-bottom: 15px;
  max-height: 900px;
  overflow: auto;
}

#comments .comment-submit {
  text-align: right;
}

#comments .comment-submit button{
  min-width: 200px;
}

#comments .caption {
  padding: 10px;
}

#comments .comment-updated {
  font-size: 10px;
  color: #999;
  position: absolute;
  bottom: 0;
  right: 15px;
}

#comments .comment-commenter strong {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin-top: 5px;
}

#comments .avatar > .img-circle {
  margin: 10px;
  -moz-box-shadow: inset 2px 2px 8px #777;
  -webkit-box-shadow: inset 2px 2px 8px #777;
  box-shadow: inset 2px 2px 8px #777;
  width: 60px;
  height: 60px;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../img/placeholders/missingImage.svg');
}

@media (max-width:768px) {
  #comments .comment-submit {
    text-align: center;
  }
}

/*comments end*/
/* detail page ends here */

/*user page start*/
#user-profile .avatar > .img-circle {
  margin: 5px;
  -moz-box-shadow: inset 2px 2px 8px #777;
  -webkit-box-shadow: inset 2px 2px 8px #777;
  box-shadow: inset 2px 2px 8px #777;
  width: 150px;
  height: 150px;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../img/placeholders/missingImage.svg');
}

#user-profile dd {
  margin: 5px 5px 15px 25px;
  overflow-wrap: break-word;
}

#user-account-controls button,
#user-account-controls a {
  margin: 5px;
  width: 250px;
}

/*xeditable start*/
.editable-wrap .editable-controls > input,
.editable-wrap .editable-controls > select,
.editable-wrap .editable-controls > textarea {
  float: left;
  margin-bottom: 15px;
}

.editable-buttons {
  float: left;
}
/*xeditable end*/

#search-results .avatar > .img-circle {
  margin: 5px;
  -moz-box-shadow: inset 2px 2px 8px #777;
  -webkit-box-shadow: inset 2px 2px 8px #777;
  box-shadow: inset 2px 2px 8px #777;
  width: 60px;
  height: 60px;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../img/placeholders/missingImage.svg');
}

#search-results dd {
  margin-left: 25px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

#search-results .user-name strong {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

#search-results .thumbnail {
  margin-bottom: 10px;
}
/*user page end*/

/*user search page start*/

/*user search page end*/

/*app upload page starts here*/
#uploadForm .form-group > b {
  padding-bottom: 5px;
  display: block;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
  font-size: 14px;
}

#uploadForm button {
  min-width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#uploadForm .form-group input[type=submit] {
  min-width: 200px;
}

#uploadForm .long-description {
}

#uploadForm .dropdownWidth {
  width: 200px;
}

/* app edit page starts here */

#edit-description {
  position: absolute;
  float: right;
}

.hspacer07 {
  margin-left: 25px;
}


#longDescriptionMarkdown {
  overflow: hidden;
}

#general-data dd,
#technical-data dd {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

#appEdit dd {
  margin-top: 5px;
  margin-bottom: 3px;
}

#appEdit .long-description {
  white-space:pre-wrap;
}
#appEdit .editable-buttons button{
  min-width: 0 !important;
}

#appEdit .editable-error {
  position: absolute;
  margin-top: 31px;
}

#appEdit button{
  min-width:200px;
}
/*edit page end*/

/*faq page start*/
#faq dd {
  margin-top: 3px;
  margin-bottom: 15px;
}

/*faq page end*/

/*invalid link start*/
.invalid-link i {
  margin-right: 30px;
  margin-top: 40px;
  margin-left: 10px;
}
/*invalid link end*/