 
 <div class="container">
     <div class="jumbotron">
    	 <div class="row"> 
     		<div class = col-lg-7>
        		<form name = "uploadForm" id = "uploadForm"  novalidate>
      	            <div class="col-md-12">
             			    <h2>General Information</h2>
        	 	    </div>     		                  
                    <div class="form-group" validate-input>
                   			<span class="glyphicon glyphicon-user"></span><span class="hspacer06"></span>Name 
                            <input type="text" class="form-control" placeholder="i.e Expert App" name="app-name" ng-model="newapp.name" required>
                            <p class="help-block" ng-messages="uploadForm.app-name.$error.required">The App's name is required</p>
                    </div>
                    <div class ="form-group">
				   		 <custom-dropdown data-menu-type="button" select-val="selected_status = selectedVal" preselected-item="selected_status" data-dropdown-data="platforms" ng-model = "app.plaftorm"></custom-dropdown>
               	    </div>
               		<div class="form-group" validate-input>
               		  		<label>Download Url</label>  
                            <input type="text" class="form-control" ng-model="newapp.download" name = "download" required>
                            <p class="help-block" ng-messages ="uploadForm.download.$error.required">Download URL is required</p>
                    </div>          
               		<div class="form-group" validate-input>
               		         <label>Supported Versions</label>
                             <input type="text" class="form-control" ng-model="newapp.supportedVersions" name = "supportedVersions" required>
                             <p class="help-block" ng-messages="uploadForm.supportedVersions.$error.required">App supported versions are required</p>
                    </div>
                    <div class="form-group" validate-input>
                          	    <label>Short Description</label>
                                <input type="text" class="form-control" ng-model="newapp.shortDescription" name = "shortDescription" required>
                                <p class="help-block" ng-messages="uploadForm.shortDescription.$error.required">Short description is required</p>
                    </div>
                    <div class="form-group" validate-input>
                                <label>Long Description</label>
                                <textarea class="form-control custom-control long-description" rows="3" nd-model = "newapp.longDescription" name = "longDescription" required></textarea>
                                <p class="help-block" ng-messages="uploadForm.longDescription.$error.required">Long description is required</p>
                    </div>
                    <div class="form-group" validate-input>
                   			    <label>Release Date</label>
                                <input type="date" class="form-control" nd-model="newapp.release" name = "release" required>
                                <p class="help-block" ng-messages="uploadForm.release.$error.required">Please choose a valid date</p>
                    </div>
                    <div class="form-group" validate-input>
                      	     <label>App Tags</label>
                             <input type="text" class="form-control" placeholder="i.e help, ios" ng-model="tags" name = "tags" required>
                             <p class="help-block" ng-messages="uploadForm.tags.$error.required">Tags are required</p>
                    </div>
                    <div class="col-md-12">
                        <h2>Technical Details</h2>
                    </div>
                    <div class="form-group" validate-input>
                    		<label>Version</label>
                        	<input type="text" class="form-control" ng-model = "newapp.version" name = "version" required >
                        	<p class="help-block" ng-messages="uploadForm.version.$error.required">Versions are required</p>
                    </div>
                    <div class="form-group" validate-input>
          	        		<label>Size</label>
                        	<input type="text" class="form-control" ng-model = "newapp.size" name = "size" required >
                        	<p class="help-block" ng-messages="uploadForm.size.$error.required">Size of app is required</p>
                    </div>
                    <div class="form-group" >
                   		    <label>Source</label>
                        	<input type="text" class="form-control"  ng-model = "newapp.source" name = "source">
                    </div>
           		 	<div class="form-group " validate-input>
                    		<label>License</label>
                        	<input type="text" class="form-control" ng-model = "newapp.license" name = "license" required>
                        	<p class="help-block" ng-messages="uploadForm.license.$error.required">License information is required</p>
                    </div>
                    <div class="form-group" validate-input>
                    		<label>Support Page</label>
                        	<input type="text" class="form-control" ng-model = "newapp.supportPage" name = "supportPage" required>
                        	<p class="help-block" ng-messages="uploadForm.supportPage.$error.required">Support Page information is required</p>
                    </div>
                    <div class="form-group">
                    		<label>Last Update</label>
                        	<input type="date" class="form-control" ng-model = "newapp.lastUpdate" name = "lastUpdate" >
                        	<p class="help-block" ng-messages="uploadForm.lastUpdate.$error.required">Please choose valid date</p>
                    </div>
                    <div class="col-md-12">
                        <h2>Media</h2>
                    </div>
                    <div class="form-group ">
                    		<label>Video URL</label>
                        	<input type="text" class="form-control" ng-model = "newapp.video" name = "video">
                    </div>
                    <div class="form-group" validate-input>
                    		<label>Thumbnail URL</label>
                        	<input type="text" class="form-control" ng-model = "newapp.image" name = "thumbnail-image" required>
                        	<p class="help-block" ng-messages="uploadForm.thumbnail-image.$error.required">Thumbnail is required</p>
                    </div>
                    <div id ="newField" ng-repeat = "image in images">
            			<label>Image URL</label>
                    	<div class="form-group" id = {{image.id}} >
                        	<input type="text" class="form-control">
                         	<button type="button" id ={{image.id}} class="hidden-xs hspacer05" class="btn btn-info" name ="{{image.buttonName}}" ng-click = "addAnotherField($event)" >{{image.buttonTitle}}</button>
                    	</div>
           		 	</div>
           		 	<div class="form-group ">
                    		<button type="button" id = "submitButton" class="btn btn-default" ng-click = "createNewApp()"  >Save</button>
                    </div>	    
          		</form>		
           </div>
       </div>
    </div>
</div>